/* @import url(); */

.police{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.sos-navbar{
    background-color:rgba(0,0,0,0.55);
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 1px, 1px, 1px, rgba(19, 84, 224, 0.55);
    z-index: 99;
}

.cc-navbar .nav-link{
    border-bottom: 1px solid transparent;
    transition: padding-bottom 0.4s ease-in-out border-color ease 0.3s;
    
}

.cc-navbar .nav-link:hover {
    padding-bottom: 20px;
    border-bottom-color: blue;
}

.banner{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../image/banniere7.jpg") center center fixed no-repeat ;
    background-size: cover;
    color: #fff;
    height: 700px;
}

.cc-menu{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../image/banniere7.jpg") center center fixed no-repeat ; 
    background-size: cover;
    height: 1100px;
}

.btn-order{
    color: rgb(98, 155, 240);
    border-color:rgb(98, 155, 240);
    transition: 0.5s;
}

.btn-order:hover,
.btn-order:active{
    color: #fff;
    background-color:rgb(98, 155, 240);
}

.col-md-3 a{
    text-decoration: none;
    color: #fff;
}
